<div class="container" *ngIf="postArr.length > 0">
  <div class="row">
    <div class="col-1">
      {{ postArr[1].id }}
    </div>
    <div class="col-4">
      {{ postArr[1].title }}
    </div>
    <div class="col-7">
      {{ postArr[1].body }}
    </div>
  </div>
  <hr />
  <hr />
  <hr />
  <div class="row" *ngFor="let post of fourPostsRandom">
    <div class="col-1">
      {{ post.id }}
    </div>
    <div class="col-4">
      {{ post.title }}
    </div>
    <div class="col-7">
      {{ post.body }}
    </div>
    <hr />
  </div>
</div>
